.logoname{
    background-color:#040503;
    color:#FFFFFF;
    position:fixed;
    top:0;
    left:0;
    right:0;
    text-align:center;
    line-height: 100%;
    
    /*border-radius:26px; */
    border-bottom-color: #8F8383;
    border-top-color: #8F8383;
    /*font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;*/
    font : outline;
    box-shadow: 0 8px 10px -2px #555;
    
    }
    .nav {
        top:96px;
        left:0;
        right:0;
        background: #080a07;
        text-align: center;
        box-shadow: 0 8px 10px -2px #120d0d;
        position: fixed;
    }
    
    .nav ul{
        list-style: none outside none;
        text-align: center;
        margin: 0;
    
    }
    .nav ul li{
        
        display: inline;
    
    }
    
    .nav ul li a {
        text-decoration: none;
        padding: 6px;
        font-family: Verdana, Geneva, sans-serif;
        font-size: 17px;
        display: inline-block;
        color: #fff;
        margin-right: 45px;
    }
    
    h1 {
       font-size: 45px;
       letter-spacing: 5px;
       padding-top: 10px;
       padding-bottom: 1px;
        margin: 5px;
        /*text-shadow: 3px 2px red;*/
        font-family: Verdana, Geneva, sans-serif;
    }

    .logoname a{
        text-decoration: none;
        color: #FFFFFF;
    }
    .logoname img{
        float: left;
        width: 61px;
        margin-left: 435px;
        margin-right: -500px;
        margin-top: 6px;
    }

    h6 {
        font-size:10px;
        letter-spacing: 6px;
        word-spacing: 11px;
         margin: 20px 10px 20px;
         /*text-shadow: 3px 2px red;*/
         font-family: Verdana, Geneva, sans-serif;
     }
    
     .input p {
        border: 20px;
        color: #000000;
        background-color: #DEDCDC;
        padding: 5px;
        margin: 53px 480px 20px;
        font-size: 22px;
        text-align: center;
    }
    .input p strong {
        background-color: #0f0e0e;
        border: 20px none;
        color: #FFF;
        font-size: 16px;
        margin: 5px -17px 5px 11px;
        padding: 5px;
        text-align: center;
        text-transform: uppercase;
    }

    .input textarea {
        display: block;
        margin-right: auto;
        /* margin-left: 4px; */
        width: 533px;
        height: 93px;
    }
     .input label
     {
         text-align: right;
         
     }




 html.body{
    margin: 0px;
    padding: 0px;
}

#messages {
	width: 538px;
	height: 180px;
	padding: 10px;
	border: 1px solid #ccc;
	overflow: auto;
	float: right;
	margin-top: -151px;
}
.input{
    padding: 10px; 
}
.input pre {
	font-size: 19px;
	text-align: center;
	font-weight: 600;
	margin-bottom: 0px;
}

#feedback{
    display: none;
}


.Footer {
	background-color: #000;
	color: #FFFFFF;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	line-height: 25.5%;
}
.Footer ul{
    list-style: none outside none;
    text-align: center;
	margin: 0;}

.Footer ul li {
    
    display: inline;

}
.Footer ul li a {
	text-decoration: none;
	padding: 5px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	display: inline-block;
	color: #FFF;
	margin-right: 45px;
	margin-bottom: -8px;
}

.Footer p {
	font-size: 11px;
	letter-spacing: 4px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* padding: 0px; */
    margin-bottom: 8px;
}