

.logoname{
background-color:#040503;
color:#FFFFFF;
position:fixed;
top:0;
left:0;
right:0;
text-align:center;
line-height: 100%;

/*border-radius:26px; */
border-bottom-color: #8F8383;
border-top-color: #8F8383;
/*font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;*/
font : outline;
box-shadow: 0 8px 10px -2px #555;

}


.nav {
	top:96px;
    left:0;
    right:0;
	background: #080a07;
	text-align: center;
    box-shadow: 0 8px 10px -2px #120d0d;
    position: fixed;
}

.nav ul{
    list-style: none outside none;
    text-align: center;
    margin: 0;

}
.nav ul li{
    
    display: inline;

}

.nav ul li a {
	text-decoration: none;
	padding: 6px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 17px;
	display: inline-block;
	color: #fff;
	margin-right: 45px;
}
.mainsection{
    top: 20px;
}
.barsystem {
	border: 1px solid #5c2d2d;
	float: right;
	width: 320px;
	height: 343px;
	margin-top: -73px;
	border-style: none;
}
.barsystem1 {
	float: left;
	width: 320px;
	height: 343px;
	margin-top: -97px;
	background-image: url('../images.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 398px 388px;
	margin-left: 9px;
	padding: 9px;
	text-align: justify;
	background-blend-mode: color-burn;
}
.readmore {

}
.readmore a {
	color: #118165;
	font-size: 14px;
}
.readmore a:hover {
    color: #9F0404;
    font-size: 15px;
}
h4 {
	font-size: 18px;
	border: 4px solid #230b7e;
	margin-top: 2px;
	margin-bottom: 2px;
	text-align: center;
}
.barsystem p,.barsystem1 p {
	font-size: 16px;
}


h1 {
   font-size: 45px;
   letter-spacing: 5px;
   padding-top: 10px;
   padding-bottom: 1px;
    margin: 5px;
    /*text-shadow: 3px 2px red;*/
    font-family: Verdana, Geneva, sans-serif;
}
h2 {
	font-size: 45px;
	margin-top: 60px;
	margin-bottom: 3px;
	font-family: Verdana, Geneva, sans-serif;
}

h3 {
	font-size: 22px;
	/* border: 4px solid #230b7e; */
	margin-top: 2px;
	margin-bottom: -8px;
	text-align: center;
}
h6 {
    font-size:10px;
    letter-spacing: 6px;
    word-spacing: 11px;
     margin: 20px 10px 20px;
     /*text-shadow: 3px 2px red;*/
     font-family: Verdana, Geneva, sans-serif;
 }
 .logoname a{
     color: #FFFFFF;
     text-decoration: none;
 }
 .logoname img {
	float: left;
	width: 61px;
	margin-left: 435px;
	margin-right: -500px;
	margin-top: 6px;
}



div.login
{
    font-family: Verdana, Geneva, sans-serif;
    text-align: center;
    font-weight: 20px;
    background: white;
    color: black;
    display: block;
    clear: both;
    margin-bottom: 0px;
}
.one p {
	color: #0B0B0D;
	font-size: 15px;
	/* padding: -15px; */
	margin-bottom: -7px;
	text-align: justify;
	}

	.two p {
		font-weight: 600;
		color: #000000;
		font-size: 14px;
		/* padding: -15px; */
		margin-bottom: -7px;
		letter-spacing: 2px;
		text-indent: 20px;
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	}


	div.teacher {
		text-align: center;
		margin-left: 500px;
		margin-top: -243px;
	}

.teacher a {
	font-size: 40px;
	text-align: center;
	padding: 10px;
	padding-right: 15px;
	display: inline;
	text-decoration: none;
	font-family: Verdana, Geneva, sans-serif;
	box-shadow: 5px 8px 15px -3px #12938a;
	border: 1px solid #09968b4d;
    color: #712ea3;
}
.teacher a:hover {
	color: #000000;
	font-family: Verdana, Geneva, sans-serif;
	box-shadow: 0 0px 0px 0px #120d0d;
	border: 1px solid #020202;
}
.teacher p {
	font-size: 22px;
	text-align: center;
	margin-left: 79px;
}

.Footer {
	background-color: #000;
	color: #FFFFFF;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	line-height: 44.5%;
}
.Footer ul{
    list-style: none outside none;
    text-align: center;
	margin: 0;}

.Footer ul li {
    
    display: inline;

}
.Footer ul li a {
	text-decoration: none;
	padding: 5px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	display: inline-block;
	color: #FFF;
	margin-right: 45px;
	margin-bottom: -8px;
}

.Footer p {
	font-size: 11px;
	letter-spacing: 4px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	/* padding: 0px; */
}


    .clear{
        overflow: hidden;
    }